body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #FF6666;
    top: 30px;
    z-index: 9999;
    position: fixed;
}

    .topnav a {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #e84a5f;
            color: white;
        }

        .topnav a.active {
            background-color: #120136;
            color: white;
        }

#ImgLeft {
    float: left;
    outline: none;
    border: none;
    margin-top:-1px
}

#userIconout {
    /*float: right;*/
    /*margin-left: 870px;*/
    margin-right: 55px;
    float: right;
    margin-top: 7px;
    color: #FF6666;
    text-decoration: none;
}
#userIconin {
    /*float: right;*/
    /*margin-left: 870px;*/
    margin-right: 55px;
    float: right;
    margin-top: 7px;
    color: black;
    text-decoration: none;
}
#userText {
    /*float: right;*/
    /*margin-left: 870px;*/
    margin-right: 55px;
    float: right;
    margin-top: 30px;
    color:black;
    text-decoration: none;
    font-size:small;
    padding-top:5px;
}
.userText {
    /*float: right;*/
    /*margin-left: 870px;*/
    margin-right: 55px;
    float: right;
    margin-top: 30px;
    color:black;
    text-decoration: none;
    font-size:small;
    padding-top:5px;
}

#basket {
    /*margin-left: 842px;*/
    float: right;
    margin-right: 50px;
    margin-top: 7px;
    /*float: right;*/
    top: 5px;
    color: #FF6666;
}

.indicator {
    width: 100%;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 4px;
    transform: translateX(100px);
    transition: transform 1s;
    color: #FF6666;
}


/*the white navbar*/

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    position: fixed;
}



    .navbar a:hover {
        /*background: #febf63;*/
        color: white;
    }





.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #ccc;
    }

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}



/*FAQ*/
/*.Question{
    font-weight:bold;
    color:blue;
    /*cursor:pointer;*/
/*text-decoration:none*/

